# repo
env
data/.archive/
frontend/_site_dev/
frontend/node_modules/
frontend/package.json
frontend/package-lock.json
.archive/

.sublime/


# python
__pycache__/

# Annoying MacOS Litter
.DS_Store
._.*


