<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: "My Website" }}</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<style type="text/css">
body {
    font-family: 'Ubuntu', sans-serif;
}
</style>

<body data-theme="dark">
    <!-- Header / Navbar -->
    <header>
        <nav class="navbar is-dark py-1" role="navigation" aria-label="main navigation" style="position: fixed; top: 0; left: 0; right: 0; z-index: 1000;">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ baseUrl }}/">
                    <strong>This Social Media Site Doesn't Exist</strong>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasic" class="navbar-menu is-align-items-center">
                <div class="navbar-end pr-3">
                    {% assign fullUrl = "/" | concat: baseUrl | concat: "/" %}
                    <a class="navbar-item mx-1 {% if page.url == fullUrl %}is-active{% endif %}" href="{{ baseUrl }}/" style="padding: 14px; height: 2.4rem !important;">
                        Feed
                    </a>
                    {% assign fullUrlProfiles = "/" | concat: baseUrl | concat: "/profiles/" %}
                    <a class="navbar-item mx-1 {% if page.url == fullUrlProfiles %}is-active{% endif %}" href="{{ baseUrl }}/profiles/" style="padding: 14px; height: 2.4rem !important;">
                        Profiles
                    </a>
                    {% assign fullUrlAbout = "/" | concat: baseUrl | concat: "/about/" %}
                    <a class="navbar-item mx-1 {% if page.url == fullUrlAbout %}is-active{% endif %}" href="{{ baseUrl }}/about/" style="padding: 14px; height: 2.4rem !important;">
                        About
                    </a>
                    <a class="navbar-item mx-1 {% if page.url contains '/experiments/' %}is-active{% endif %}" href="{{ baseUrl }}/experiments/" style="padding: 14px; height: 2.4rem !important;">
                        Experiments
                    </a>
                </div>
            </div>
        </nav>
        <style>
        /* Custom styles for the active tab */
        .navbar-item {
            border-radius: 8px !important;
        }

        .navbar-item.is-active {
            background-color: #00d1b2;
            color: white;
        }

        .navbar-item.is-active:hover {
            background-color: #00c4a7;
        }
        </style>
    </header>
    <!-- Main Content -->
    <main class="section content" style='padding-top: 80px;'>
        {{ content }}
    </main>
    <!-- Footer (Optional) -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                made by <strong><a href="https://mw3i.github.io/">mw</a></strong>.
            </p>
        </div>
    </footer>
    <!-- Burger Menu Script for mobile -->
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
    </script>
</body>
<style>
.media {
    transition: background-color 0.3s ease; /* Smooth transition of background color */
    padding: 14px;
    border-radius: 6px;
}
.media:hover {
    background-color: rgba(0,0,0,.2); /* Change background color on hover */
}
</html>